# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# tox
.tox/

# Test and coverage
.coverage
htmlcov/
.cache/
.pytest_cache/

# IDE/editor files
.idea/
.vscode/

# macOS system files
.DS_Store

# Logs
*.log
